<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hikmetanil.picassolastone">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".P001OneLineCode"/>
        <activity android:name=".P002PicassoBuilder"/>
        <activity android:name=".P003AddTransform"/>
        <activity android:name=".P004CanvasXRed"/>
        <activity android:name=".P005DrawText"/>
        <activity android:name=".P006FlowerNameOnPicture"/>
        <activity android:name=".P007FrameOnPicture"/>
        <activity android:name=".P008CircFrameOnPict"/>
        <activity android:name=".P009AddClearDarken"/>
        <activity android:name=".P010LightenDstAtop"/>
        <activity android:name=".P011DstInOutOver"/>
        <activity android:name=".P012SrcInOutOver"/>
        <activity android:name=".P013MultOverScr"/>
        <activity android:name=".P014SrcAtopXor"/>
    </application>

</manifest>